@font-face {
  font-family: rdr;
  src: url(assets/fonts/rdrlino-regular-webfont.woff);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  overflow: hidden;
}

#app {
  font-family: rdr;
  touch-action: manipulation;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

.wrapper {
  text-align: center;
  width: 20vw;
  height: 30px;
  position: absolute;
  left: 50%;
  bottom: 2%;
  transform: translate(-50%, -2%);
  z-index: 999;
}

.linear-progress {
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  font-family: rdr;
  background: none;
}

.progress-text {
  margin-bottom: 8px;
  font-size: 18px;
  color: #c7c7c7;
}

.segmented-bar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.segmented-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: grayscale(100%) brightness(50%);
  z-index: -1;
}

.segment {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 2px solid #5e5e5e;
  margin: 0 2px;
  box-sizing: border-box;
  transition: background-color 0.2s;
}

.segment.filled {
  background-color: #e2cba6;
}

.percent {
  stroke-dasharray: 100;
  transition: all 1s linear;
  stroke: var(--maincolor);
}

.loader {
  position: relative;
  min-width: 0%;
  height: 100%;
  width: 0%;
  background-color: var(--maincolor);
}

.center-count {
  position:absolute;
  top:49%;
  left:50%;
  transform:translate(-50%,-49%);
}

.message {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  margin:0;
  width: 100%;
}

@keyframes circleprogress {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 100;
  }
}

@keyframes growprogress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}